.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  .search_form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search_bar {
    width: 50%;
    border: none;
    padding: 10px;
  }
  .search_btn{
    background: #66a6ff;
    border:none;
    padding: 10px 20px;
    color:#efef;
    cursor: pointer; 
  }
  .recipies{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .search_title{
    display: flex;
    justify-content: center;
    color: azure;
  }
}
